.container {
    width: 100%;
    @include flex_row;
    
    > * {
        width: 100%;
        
        @media only screen and (max-width: 575px) {
            max-width: 100%; 
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            max-width: 540px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            max-width: 720px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            max-width: 960px;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1439px) {
            max-width: 1140px;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 1420px;
        }
    }
}