.squared_list {
    max-width: 830px;
    width: 100%;
    @include flex_row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;

    .square {
        width: 170px;
        height: 145px;
        background: #FFFFFF;
        border: 1px solid $black_1;
        border-radius: 10px;
        @include flex_column;

        figure {
            margin-bottom: 23px;
        }

        small {
            color: $black_8;
        }

        &.empty {
            border: none;
            background: transparent!important;
            height: 0;
        }
    }
}