$white : #FCFCFC;
$gray: #EDEDED;
$black: #000;
$gray_dark : #949292;
$gray_dark_2 : #B3B3B3;
$black_1: rgba(0, 0, 0, 0.1);
$black_4: rgba(0, 0, 0, 0.4);
$black_6: rgba(0, 0, 0, 0.6);
$black_8: rgba(0, 0, 0, 0.8);
$blue: #007ACD;
$green: #00cd9a;
$bemobile_pink : rgba(247,8,139,1)