@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: lighter;
    src: url('/fonts/Gilroy-Light.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Gilroy-SemiBold.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Gilroy-Heavy.ttf');
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/CONSOLA.TTF');
}
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/CONSOLAB.TTF');
}